*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #181818;
}

::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-track{
    border: 5px solid #283a4d;
    box-shadow: inset 0 0 15px #283a4d;
  }
  
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(#eecda3, #da1e6f);
    border-radius: 50px;
  }

.row__poster{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster:hover{
    transform: scale(1.08);
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__posterLarge{
    max-height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
}

.row{
    color: white;
    margin-left: 20px;
}

.banner {
    background-image: url(/images/mathlogo.png);
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
    margin-bottom: 50px;
}

.banner__contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360px;
    height: 180px;
}

.banner__button{
    cursor: pointer;
    color: white;
    text-align: center;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1em;
    border-radius: 1vw;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
}

.banner__button:hover, .banner__button:focus{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner__buttons{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover{
    background-color: #ddd
}

.show {
    display:block;
}


.banner--fadeButtom{
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #181818);
}

.nav__logo{
    width: 80px;
    object-fit: contain;
}

.fa-user {
    color: white;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}