* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

.wrapper {
  width: 1170px;
  margin: auto;
}

.logo img {
  z-index: 1;
  width: 84px;
  padding-left: 50px;
  padding-top: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.button {
    font-size: 16px;
    color: #fff;
    border: #fff solid 2px;
    padding: 15px 70px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    display: block;
    position: absolute;
    left: 50%;
    top: 85%;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    left:0;
    background: url(images/CSstudent.jpg) center center no-repeat;
    background-size: cover;
  }

  .split.right {
    right:0;
    background: url(images/Creator.jpg) center center no-repeat;
    background-size: cover;
  }

  .container .center{
    z-index: 1;
    left: 50%;
    top: 35%;
    text-align: center;
    position: absolute;
  }

  .center .first {
    font-weight: bold;
    color: #fff;
    position: relative;
    width:50%;
    top: 50%;
    font-size: 4vw;  
  -webkit-transform: translate(-50%, -50%);        
  transform: translate(-50%, -50%);
}

.center .sec{
  font-weight: bold;
  color: #fff;
  position: relative;
  width:50%;
  top: 50%;
  font-size: 4vw;  
-webkit-transform: translate(-50%, -50%);        
transform: translate(-50%, -50%);
}

@media screen and (max-width:320px) {
  .center .first {
    width: 10rem;
    font-size: 30px;
  }

  .center .sec{
    width: 10rem;
    font-size: 30px;
  }

  .button{
    padding: 10px 45px;
  }
}