* {
    margin: 0;
    padding: 0;
    font-family: monospace;
  }

body, html {
    height: 100%;
  }

  .wrapper{
    width: 1170px;
    margin: auto;
}
  
  .logo img{
    z-index: 1;
    width: 84px;
    padding-left: 50px;
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .bgimg {
    background-image: url(/images/Creator.webp);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .bgimg h1{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }

  hr {
    margin: auto;
    width: 90%;
  }

  @media screen and (max-width: 320px) {
    .bgimg .middle{
      width: 200px;
    }

    .middle h1{
      text-align: center;
      font-size: 30px;
    }
  }